body,
html {
  margin: 0 auto;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 1140px;
  margin: 0 auto;

  @include font-text-regular();
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  color: $text-color;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
